@import "../../styles/colors.scss";

.layout {

  &__header {
    background-color: $header-bg;
    font-size: 2rem;
    padding: 1em;
    color: white;
    margin-bottom: 2em;
  }

  &__content {
    max-width: 75vw;
    margin: 0 auto;
  }
}