@import "../../styles/colors.scss";

.layout {

  &__header {
    display: flex;
    align-items: center;
    background-color: $header-bg;
    font-size: 2rem;
    padding: 1em;
    color: white;
    margin-bottom: 2em;

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: fit-content;
      height: 2rem;
      overflow: visible;

      &__icon {
        height: 4rem;
        margin-right: 0.5em;
      }
    }

    .logout {
      font-size: 1.2rem;
      margin-left: auto;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__content {
    max-width: 75vw;
    margin: 0 auto;
  }
}